Host web01.amazonlinux
  HostName XXX.XXX.XXX.XXX
  User ec2-user
  IdentityFile /PATH/TO/YOUREKEY.pem

Host app01.amazonlinux
  HostName XXX.XXX.XXX.XXX
  User ec2-user
  IdentityFile /PATH/TO/YOUREKEY.pem